In [9]:
import numpy as np
import pandas as pd
import sklearn
train_docs = pd.read_csv(r"D:\Nihal Kumar\Study_Notes\Part_2_UD\Naive_Bayes\example_train.csv")
train_docs

                                            Document      Class
0         Upgrad is a great educational institution.  education
1            Educational greatness depends on ethics  education
2  A story of great ethics and educational greatness  education
3                           Sholey is a great cinema     cinema
4                   good movie depends on good story     cinema

In [10]:
train_docs['Class'] = train_docs.Class.map({'cinema':0,'education':1})
train_docs

                                            Document  Class
0         Upgrad is a great educational institution.      1
1            Educational greatness depends on ethics      1
2  A story of great ethics and educational greatness      1
3                           Sholey is a great cinema      0
4                   good movie depends on good story      0

In [11]:
train_array = train_docs.values
x_train = train_array[:,0]
y_train = train_array[:,1]
y_train = y_train.astype('int')
print(x_train)
print(y_train)

['Upgrad is a great educational institution.'
 'Educational greatness depends on ethics'
 'A story of great ethics and educational greatness'
 'Sholey is a great cinema' 'good movie depends on good story']
[1 1 1 0 0]

In [12]:
# Bag of words
from sklearn.feature_extraction.text import CountVectorizer

In [13]:
vec = CountVectorizer()

In [14]:
vec.fit(x_train)
vec.vocabulary_

{'upgrad': 15,
 'is': 9,
 'great': 6,
 'educational': 3,
 'institution': 8,
 'greatness': 7,
 'depends': 2,
 'on': 12,
 'ethics': 4,
 'story': 14,
 'of': 11,
 'and': 0,
 'sholey': 13,
 'cinema': 1,
 'good': 5,
 'movie': 10}

In [15]:
vec = CountVectorizer(stop_words='english')
vec.fit(x_train)
vec.vocabulary_

{'upgrad': 11,
 'great': 5,
 'educational': 2,
 'institution': 7,
 'greatness': 6,
 'depends': 1,
 'ethics': 3,
 'story': 10,
 'sholey': 9,
 'cinema': 0,
 'good': 4,
 'movie': 8}

In [16]:
print(vec.get_feature_names())
print(len(vec.get_feature_names()))

['cinema', 'depends', 'educational', 'ethics', 'good', 'great', 'greatness', 'institution', 'movie', 'sholey', 'story', 'upgrad']
12

C:\Users\uie72014\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [17]:
x_transformed = vec.transform(x_train)
x_transformed

<5x12 sparse matrix of type '<class 'numpy.int64'>'
	with 20 stored elements in Compressed Sparse Row format>

In [18]:
print(x_transformed)

  (0, 2)	1
  (0, 5)	1
  (0, 7)	1
  (0, 11)	1
  (1, 1)	1
  (1, 2)	1
  (1, 3)	1
  (1, 6)	1
  (2, 2)	1
  (2, 3)	1
  (2, 5)	1
  (2, 6)	1
  (2, 10)	1
  (3, 0)	1
  (3, 5)	1
  (3, 9)	1
  (4, 1)	1
  (4, 4)	2
  (4, 8)	1
  (4, 10)	1

In [19]:
x_transformed.toarray()

array([[0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1],
       [0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 2, 0, 0, 0, 1, 0, 1, 0]], dtype=int64)

In [20]:
pd.DataFrame(x_transformed.toarray(),columns=vec.get_feature_names())

,cinema,depends,educational,ethics,good,great,greatness,institution,movie,sholey,story,upgrad
0,0,0,1,0,0,1,0,1,0,0,0,1
1,0,1,1,1,0,0,1,0,0,0,0,0
2,0,0,1,1,0,1,1,0,0,0,1,0
3,1,0,0,0,0,1,0,0,0,1,0,0
4,0,1,0,0,2,0,0,0,1,0,1,0

In [21]:
test_docs = pd.read_csv(r"D:\Nihal Kumar\Study_Notes\Part_2_UD\Naive_Bayes\example_test.csv")
test_docs

                            Document      Class
0  very good educational institution  education

In [22]:
test_docs['Class'] = test_docs.Class.map({'cinema':0,'education':1})
test_docs

                            Document  Class
0  very good educational institution      1

In [24]:
test_numpy_array = test_docs.values
x_test = test_numpy_array[:,0]
y_test =test_numpy_array[:,1]
print(x_test)
print(y_test)

['very good educational institution']
[1]

In [25]:
x_test_transformed =vec.transform(x_test)
x_test_transformed

<1x12 sparse matrix of type '<class 'numpy.int64'>'
	with 3 stored elements in Compressed Sparse Row format>

In [27]:
x_test = x_test_transformed.toarray()
x_test

array([[0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0]], dtype=int64)

In [29]:
#Building multinomial Naive Bayes
from sklearn.naive_bayes import MultinomialNB
mnb = MultinomialNB()
mnb.fit(x_transformed,y_train)
proba = mnb.predict_proba(x_test)

In [30]:
# probability of each class (test data)
print("probability of test document belonging to class CINEMA" , proba[:,0])
print("probability of test document belonging to class EDUCATION" , proba[:,1])

probability of test document belonging to class CINEMA [0.32808399]
probability of test document belonging to class EDUCATION [0.67191601]

In [32]:
#Building Bernoulli Naive Bayes Model
from sklearn.naive_bayes import BernoulliNB
bnb=BernoulliNB()
bnb.fit(x_transformed,y_train)
bnb.predict_proba(x_test)
prob_bnb = bnb.predict_proba(x_test)
prob_bnb

array([[0.2326374, 0.7673626]])